@import url('https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,300..900;1,300..900&display=swap');

body {
    min-height: calc(100vh - 188px);
    font-size: 100%;
    color: white;
    background: #292929;
    font-family: "Rubik", sans-serif;
    font-optical-sizing: auto;
    margin: 50px;
}

a:link {
    color: white;
    text-decoration: none;
}

a:visited {
    color: white;
    text-decoration: none;
}

.cabecalho-menu-ancoras {
    display: flex;
    text-decoration: none;
    justify-content: center;
    gap: 20px;
}

img {
    width: 300px; /* Ajuste o tamanho conforme necessário */
    height: auto;
    border-radius: 15px; /* Define os cantos arredondados */
}

.boas-vindas {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 0px;
}

.sobre-mim {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.sobre-mim-div {
    margin: 50px;
    display: flex;
    flex-direction: row;
    gap: 50px;
    
}

.minha-formacao {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.portifolio {
    margin-top: 100px;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
}

.portifolio-texto {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    gap: 0px;
}

.link-landingpage:link {
    color: #007BFF;
}

.link-landingpage:visited {
    color: #007BFF;
}

.contato {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 100px;
}

.formulario-contato {
    display: flex;
    flex-direction: column;
}

label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}
input, textarea {
    width: 500px;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 5px;
}
button {
    margin-top: 20px;
    background-color: #007BFF;
    color: white;
    padding: 10px 15px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
button:hover {
    background-color: #0056b3;
}